.centerImg img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

img[alt="center"] {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Circle */
img[src$="#circle"],
span[src$="#circle"] img,
span[src$="#round"] img {
  border-radius: 50%;
  aspect-ratio: 1/1; }

.markdown-source-view.mod-cm6 .cm-content > * {
  margin: auto auto !important;
}

.banner-image {
  border-radius: 0px !important;
  opacity : 1 !important;
}

.image-captions-figure {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.image-captions-caption {
  padding-top: 1em;
  display: block;
  line-height: 1.2;
}

.no-caption .image-captions-figure {
  background: none !important;
}

.no-caption .image-captions-caption {
  display: none;
}