.theme-dark {
  /* stickies */
  --stickies-color-1: #FFFF99;
  --stickies-color-2: #9fdf9f;
  --stickies-color-3: #deb7e7;
  --stickies-color-4: #7afcff;
  --stickies-color-5: #ffb470;
  --tape-color: #99999967;
}

.theme-light{
  /* stickies */
--stickies-color-1: #FFFF99;
--stickies-color-2: #9fdf9f;
--stickies-color-3: #deb7e7;
--stickies-color-4: #7afcff;
--stickies-color-5: #ffb470;
--tape-color: #acacac65;

}

.stickies {
  text-align: left;
  width: 100%;
  height: 100%;
  background-color: var(--stickies-color-1) !important;
  box-shadow: 0 10px 10px 2px #9191912d;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
  color: black;
}

.stickies .mod-header {
font-family: 'Rage';
font-size: x-large;
}

.stickies .el-pre {
font-family: 'Segoe Print';
}

.stickies:hover{animation:.8s ease-in-out shake}

.stickies-2 {
  background-color: var(--stickies-color-2) !important;
}

.stickies-3 {
  background-color: var(--stickies-color-3) !important;
}

.stickies-4 {
background-color: var(--stickies-color-4) !important;
}

.stickies-5 {
background-color: var(--stickies-color-5) !important;
}

/* :is(div[class*="stickies"]) .plugin-tasks-list-item {
  display: inline-block;
  list-style-type: square;
  margin-left: 20px;
  vertical-align: left;
}  */